DOMAIN=claw.weown.tools
OPENCLAW_IMAGE=reg.mini.dev/openclaw:latest
CADDY_IMAGE=reg.mini.dev/caddy:2
OPENCLAW_GATEWAY_TOKEN=
OPENROUTER_API_KEY=
OTEL_ENDPOINT=https://ingest.us2.signoz.cloud:443
SIGNOZ_INGESTION_KEY=
