# Local development environment
WP_IMAGE=reg.mini.dev/1923/wordpress-fluentsmtp:latest
CADDY_IMAGE=reg.mini.dev/caddy:2
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=change-me-local
MYSQL_ROOT_PASSWORD=change-me-root-local
