# Production environment
# ⚠️ NEVER commit this file to version control
WP_IMAGE=reg.mini.dev/1923/wordpress-fluentsmtp:latest
CADDY_IMAGE=reg.mini.dev/caddy:2
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=CHANGE_ME_STRONG_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_STRONG_ROOT_PASSWORD
DOMAIN=burnedout.xyz
