# sso.weown.dev - Caddyfile
# Reverse proxy for Keycloak SSO

sso.weown.dev {
    reverse_proxy keycloak:8080 {
        flush_interval -1
    }

    log {
        output file /var/log/caddy/sso.log
    }
}

# Keycloak admin console (restrict access in production)
admin.sso.weown.dev {
    reverse_proxy keycloak:8080 {
        flush_interval -1
    }
}
